<html>
<head>
<style>
body {
                background-color: #000;
                margin: 0;
                font-family: Helvetica, Arial, sans-serif;
}
 
h2 {
                padding: 0;
                margin: 3px;
                color: #fff;
                font-size: 18px;
}
 
h2 span {
                color: #c6c;
                font-size: 18px;
}
 
#photos img {
                padding: 0;
                margin: 3px;
                border-style: solid;
                border-width: 4px;
                border-color: #336699;
}
 
#photos span {
                padding: 0;
                margin: 3px;
}

#main-content {
                padding: 5px;
                background-color: #333333;
                height: 100%;
                width: 700px;
                margin: 0 auto;
}

#photos {
                color: #999999;
                font-size: 18px;
float:left;
}
</style>
</head>
<body>

<div id="main-content">
	<h2>photos tagged with '<span><%= @tag %></span>'</h2>
<div id="photos">
	<ul>
<% for photo in @flickr_photos %>
	<li style="list-style:none">
		<img title="<%= photo.title %>" src="<%= photo.url("s") %>"/>
		<br/>
		  <span>title</span>
	</li>
<% end %>
</ul>
</div>
<div id="map" style="float:left; width: 500px; height: 300px; border: 1px solid black;"></div>
</div>

<script type="text/javascript" src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=7532BB6ECC07133CE0405F0AF16038E6"></script>

<script type="text/javascript">
var osMap;
function init()
{
  var gridProjection = new OpenSpace.GridProjection();
	var lonlat = new OpenLayers.LonLat('-0.238717', '51.504696');
  var centre = gridProjection.getMapPointFromLonLat(lonlat);

  osMap = new OpenSpace.Map('map');

  osMap.setCenter(centre, 2);

  var markers = new OpenLayers.Layer.Markers("Markers");
  osMap.addLayer(markers);

	var pos, marker;

	<% @locations.each_value { |value| %>
	lonlat = new OpenLayers.LonLat(<%= value[1] %>, <%= value[0] %>);
  pos = gridProjection.getMapPointFromLonLat(lonlat);
  marker = new OpenLayers.Marker(pos);
  markers.addMarker(marker);
	<%}%>
}
</script>

<script type="text/javascript">
	init();
</script>

</body>
</html>
